// VARIABLES - Set up common properties and styles
////////////////////////////////////////////////////////////////

// Typography
$base-font-family:'Helvetica', sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2.5;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$base-color: #cd7887;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $base-color ;
$inverse-font-color: #fff;
$inverse-action-color: $base-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: $dark-gray;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
