// GRID LAYOUT - layout-based rules, canned layout modules (modules prefixed with 'l')
////////////////////////////////////////////////////////////////

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

.container {
  @include outer-container;
  @include clearfix;
  position: relative;
  @include media($large) {
    padding: 0 $base-spacing;
  }
}

// 2/3 layout
.l-long {
  @include span-columns(8);
  @include clearfix;
}

// 1/2 layout
.l-split {
  @include span-columns(6);
  @include clearfix;
  @include omega(2n);
}

// 1/3 layout
.l-short {
  @include span-columns(4);
  @include clearfix;
  @include omega(3n);
}
