// GRID LAYOUTS - canned layouts, layout-based rules (prefixed with 'l')
////////////////////////////////////////////////////////////////

.container {
  @include outer-container;
  @include clearfix;
  position: relative;
  @include media($medium) {
    padding: 0 20px;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

// 2/3 layout
.l-main {
  @include span-columns(8);
  @include clearfix;
  margin-bottom: 0;
  @include media($small) {
    @include span-columns(6);
    margin-bottom: $large-spacing;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

// 1/3 layout
.l-sidebar{
  @include span-columns(4);
  @include clearfix;
  @include omega(3n);
  margin-bottom: $large-spacing;
  // clear last row bottom margin:
  &:nth-last-child(3), &:nth-last-child(2), &:last-child {
    margin-bottom: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  @include media($small) {
    @include span-columns(6);
    margin-bottom: $large-spacing;
    &:nth-last-child(3), &:nth-last-child(2) {
      margin-bottom: $large-spacing;
    }
  }
}

// 1/2 layout
.l-split {
  @include span-columns(6);
  @include clearfix;
  @include omega(2n);
  margin-bottom: $large-spacing;
  // clear last row bottom margin:
  &:nth-last-child(2), &:nth-last-child(1) {
    margin-bottom: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  @include media($small) {
    @include span-columns(6);
    &:nth-last-child(2) {
      margin-bottom: $large-spacing;
    }
  }
}

.l-omega {
  @include omega;
}
