// NEAT GRID SETTINGS - See http://neat.bourbon.io/ for documentation
////////////////////////////////////////////////////////////////

$neat-grid: (
  columns: 12,
  gutter: $base-spacing,
);

$extra-large: (
  columns: 12,
  gutter: $base-spacing,
  media: '(min-width: $max-width)'
);

$large: (
  columns: 12,
  gutter: $base-spacing,
  media: '(min-width: 900px)'
);

$medium: (
  columns: 12,
  gutter: $base-spacing,
  media: '(min-width: 670px)'
);

$small: (
  columns: 12,
  gutter: $base-spacing,
  media: '(min-width: 450px)'
);

$nav-break: (
  columns: 12,
  gutter: $base-spacing,
  media: '(min-width: 900px)'
);
