// GLOBAL MIXINS

// font smoothing for anti-aliasing on macOS
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

// inverse color scheme for basic typography
@mixin inverse-colors {
    color: $secondary-font-color;
  
    a {
      color: $base-color;
  
      &:active,
      &:focus,
      &:hover  {
        color: lighten($base-color, 20%);
        outline: none;
      }
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $secondary-font-color;
    }
  
  }
  