// GLOBAL VARIABLES
////////////////////////////////////////////////////////////////

// Typography
$base-font-family:'Helvetica', sans-serif;
$alt-font-family: $base-font-family;
$base-font-size: 1em;

// Sizes
$max-width: 1300px;
$base-spacing: 2rem;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ccc;
$base-color: #88B04B;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $base-color ;
$inverse-font-color: #fff;
$inverse-action-color: $base-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: $dark-gray;

// Borders
$base-border-color: $light-gray;
$base-border-radius: 3px;
$base-border: 1px solid $base-border-color;
