// GRID LAYOUT - Canned layout styles that can be used anywhere (modules prefixed with 'l')
////////////////////////////////////////////////////////////////

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

.container {
  @include grid-container;
  position: relative;
  max-width: $max-width;
  margin: auto;
}

// Full
.l-full {
  @include grid-column(12);
  @include grid-container;
}

// 2/3 layout
.l-long {
  @include grid-column(12);
  @include grid-media($large) {
    @include grid-column(8);
    @include grid-container;
  }
}

// 1/2 layout
.l-split {
  @include grid-column(12);
  @include grid-media($large) {
    @include grid-column(6);
    @include grid-container;
  }
}

// 1/3 layout
.l-short {
  @include grid-column(12);
  @include grid-media($large) {
    @include grid-column(4);
    @include grid-container;
  }
}
