// GRID LAYOUT - Canned layout styles that can be used anywhere (modules prefixed with 'l')
////////////////////////////////////////////////////////////////

.container {
  @include grid-container;
  position: relative;
  max-width: $max-width;
  margin: auto;
}

// Full width
.l-full {
  @include grid-column(12);
  @include grid-container;
}

// 1/2
.l-split {
  @include grid-column(12);
}
