// GRID LAYOUT - Canned layout styles that can be used anywhere
////////////////////////////////////////////////////////////////

.l-container {
  position: relative;
  display: block;
  max-width: $max-width;
  padding: 0 $base-spacing;
  margin: auto;
}
