// SITE SECTIONS LAYOUT STYLES
////////////////////////////////////////////////////////////////
%section {
  position: relative;
  padding: $large-spacing 0;
  z-index: 99;
}

.section--primary {
  @extend %section;
  background:  $base-background-color;
}

.section--secondary {
  @extend %section;
  @extend %inverse;
  background: $secondary-background-color;
}
