// BASE BUTTON STYLES
////////////////////////////////////////////////////////////////

%button-base {
  transition: background, .2s;
  display: inline-block;
  padding: .5em 1em;
  color: #fff !important;
  background-color: $base-color;
  border: 1px solid  $base-color;
  border-radius: $base-border-radius;
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;


  &:focus {
    outline: thin dotted #333;
    outline-offset: -2px;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #fff;
    background-color: darken($base-color, 5);
    border-color: $base-color;
    outline: 0;
    text-decoration: none;
  }
}

// Button Types
////////////////////////////////////////////////////////////////

// Main Button
button,
.button {
  @extend %button-base;
}

// Secondary Button
.button--secondary {
  @extend %button-base;
  color: #fff!important;
  background-color: $base-color;
  border-color: $base-color;

  &:hover,
  &:active,
  &.active{
    background-color: lighten($base-color, 10);
    border-color: $base-color;
  }
}


// Button Sizes
////////////////////////////////////////////////////////////////

.button--large {
  @extend %button-base;
  font-size: 1.5em !important;
}

.button--small {
  @extend %button-base;
  font-size: .75em !important;
}

.button--tiny {
  @extend %button-base;
  font-size: .5em !important;
}

.button--block {
  @extend %button-base;
  display: block !important;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// Special Links
////////////////////////////////////////////////////////////////

.button--link:after{
  position: relative;
  top: -.05em;
  left: .25em;
  content: "›";
  font-size: 1em;
  line-height: 0;
}
