// BASE TYPOGRAPHY STYLES
////////////////////////////////////////////////////////////////

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 1em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font-family;
  line-height: 1.2;
  margin: 0 0 $small-spacing;
}


h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  transition: color 0.2s;
  color: $base-color;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    color: darken($base-color, 20%);
    outline: none;
  }
}

pre {
  white-space: pre-wrap;
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}


// Alternate section colors
////////////////////////////////////////////////////////////////
%inverse {
  color: $secondary-font-color;

  a {
    color: $base-color;

    &:active,
    &:focus,
    &:hover  {
      color: lighten($base-color, 20%);
      outline: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $secondary-font-color;
  }

}
