// BASE BUTTON STYLES
////////////////////////////////////////////////////////////////

%btn-base {
  transition: background, .2s;
  display: inline-block;
  padding: 8px 25px 8px 25px;
  color: #fff;
  background-color: $action-color;
  border: 1px solid  $action-color;
  border-radius: $base-border-radius;
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;


  &:focus {
    outline: thin dotted #333;
    outline-offset: -2px;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #fff;
    background-color: shade($action-color, 30);
    outline: 0;
    text-decoration: none;
  }
}

// Button Types
////////////////////////////////////////////////////////////////

// Main btn
.btn,
#{$all-buttons} {
  @extend %btn-base;
}

// Alternate btn
.btn--alt {
  @extend %btn-base;
  color: $inverse-font-color !important;
  background-color: transparent;
  border-color: #fff;

  &:hover,
  &:active,
  &.active{
    background-color: rgba(#fff,.1);
  }
}

// Inverse btn
%inverse .btn,
%inverse .btn--lg,
%inverse .btn--sm,
%inverse .btn--xs,
%inverse #{$all-buttons} {
  @extend .btn--alt;
}

// Button Sizes
////////////////////////////////////////////////////////////////

.btn--lg {
  @extend %btn-base;
  padding: 10px 35px !important;;
  font-size: 1.5em !important;;
}

.btn--sm {
  @extend %btn-base;
  padding: 5px 20px !important;;
  font-size: 1em !important;;
}

.btn--xs {
  @extend %btn-base;
  padding: 5px 20px !important;;
  font-size: .75em !important;;
}

.btn--block {
  @extend %btn-base;
  display: block !important;;
  width: 100% !important;;
  padding-left: 0 !important;;
  padding-right: 0 !important;;
}

// Special Links
////////////////////////////////////////////////////////////////

.link:after{
  position: relative;
  top: 1px;
  left: 4px;
  content: "›";
  font-size: 1.5em;
  line-height: 0;
}
